body {
    padding: 2px;
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 2px;

}
th {
    padding: 2px;

}
tr.first {
    background-color: gold;
}
tr.second {
    background-color: silver;
}
tr.third {
    background-color: burlywood;
}
tr.rest {
    background-color: green;
}
table {
    margin: 20px;
}
