body {
    padding: 2px;
    font-size: 12px;
}
a {
    color: #000000;
    text-decoration: underline;

}
table, th, td {
    border: 1px solid #C0C0C0;
}

td {
    padding: 2px;

}
th {
    padding: 2px;

}
tr.first {
    background-image: linear-gradient(yellow, gold);
}
tr.second {
    background-image: linear-gradient(#FFF5EE, #C0C0C0);
}
tr.third {
    background-image: linear-gradient(#F4A460, #CD853F);
}
tr.rest {
    background-color:  #E0FFFF;
}
table {
    margin: 20px;
}
